{% extends 'dashboard.html' %}
{%load crispy_forms_tags%}


{% block body %}
    <div class="text-center">
        <a href="{%url 'member'%}">
            <p class="btn btn-danger"> Back </p> 
        </a>
    </div>
    {% if messages %}
    <div class="row">
        <div class="alert alert-warning text-center">  
            {% for i in messages  %}
                {{i}}
            {% endfor %}
            </div>
        </div>      
    {% endif %}
    <div class="container text-center">
        <h4>ADD YOUR STAFF FROM HERE!! AND GIVE THEM THEIR RESPECTIVE USERNAME AND PASSWORD</h4>
        <div class="staffcreate text-center">
            <form action="" method="post">
                {% csrf_token %}
                {{staffform|crispy}}
                <button class="btn btn-danger text-center" type="submit">
                    CREATE STAFF
                </button>
            </form>
        </div>
    </div>
{% endblock body %}
    