{% extends 'index.html' %}
    {% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="{%url 'home'%}">
            KESH GHAR
            {% if user.is_authenticated %}
            --{{user}}
            {% endif %}
        </a>
        </div>
            
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right navbaractive">
                
        {% block linkandt %}
            <li><a  href="{%url 'member'%}" id="mem">MEMBERS</a></li>
            <li><a  href="{%url 'transaction'%}" id="trans">TRANSATIONS</a></li>
            <li><a href="{%url 'history'%}" id="ts">HISTORY</a></li>
            <li><a href="{%url 'addproduct'%}" id="ts">ADD PRODUCT</a></li>
            <li><a href="{%url 'branch'%}" id="branch">BRANCH</a></li>
            <li><a class= "logout" href="{%url 'logout'%}">LOG OUT</a></li>
        {% endblock linkandt %}
        </ul>
        </div>
        </div>
        </nav>
        <div class="navbarmaintain">
        </div>
    {% endblock navbar %}

    